.nav-link{
    color:white;
    background-color: #000 !important;
}
li a{
    color: white;
}
body{
    background-color: #000;
   
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    height: 100vh; /* Ensures it covers the full viewport height */
}
.wrapper {
    /*This part is important for centering*/
    
    font-size: 2em;
    
  }


.container h1 {
    color: white !important; /* Use !important cautiously */
}
.wrapper{
    color: white !important;
}
.gith{
    color: white;
}
.lnk{
    color: white;
}
.twt{
    color: white;
}
.ins{
    color: white;
}
.text-center{
    font-size: 1em;
    color: white;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.display-6{
    font-size: 2em;
}
.content{
    color: white;
}
.content h2 {
    font-weight: 700;
    font-size: 24px;
  }
  
.content ul {
    list-style: none;
    padding: 0;
  }
  
.content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
.content ul strong {
    margin-right: 10px;
  }
  
.content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: var(--accent-color);
    line-height: 0;
  }

.row{
    justify-content: center;
}



.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  color: white;
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var(--heading-font);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: color-mix(in srgb, white, transparent 90%);
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: lightblue;
}
.skl{
    color: white;
    justify-content: center;
    padding-top: 0px;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume .resume-title {
    color: white;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid lightblue;
    position: relative;
    color: white;
}
  
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: color-mix(in srgb, white, transparent 20%);
    margin-bottom: 10px;
}
  
.resume .resume-item h5 {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
  
.resume .resume-item ul {
    padding-left: 20px;
}
  
.resume .resume-item ul li {
    padding-bottom: 10px;
}
  
.resume .resume-item:last-child {
    padding-bottom: 0;
}
  
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: black;
    border: 2px solid lightblue;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.card{
    --bs-card-bg:lightblue;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.fs-2{
    color: lightblue;
}
#hanging-icons{
    color: white;
}



.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  color: white;
  background-color: color-mix(in srgb, black, transparent 50%);
  border-color: color-mix(in srgb, white, transparent 80%);
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: lightblue;
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, white, transparent 70%);
}

.contact .php-email-form button[type=submit] {
  color: black;
  background: lightblue;
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, lightblue, transparent 20%);
}
